@mixin fonts($size, $color, $weight, $line, $letter, $text, $textShadowns) {
    font-family: "Nunito", "nunitolight", "nunito-light", "arial";
    font-weight: #{$weight};
    line-height: #{$line};
    font-size: em($size);
    color: #{$color};
    letter-spacing: #{$letter};
    text-align: #{$text};
    text-shadow: #{$textShadowns};
}

@mixin colors() {
    //cores nos módulos
    $listButtonsName: "roxo-clube", "laranja-smiles", "vinho-transacoes", "magenta", "verde-Localiza", "amarelo-hertz",
        "amarelo-shopping", "azul-cartoes", "preto-uber", "cinza-medio";
    $listColors: "#663399", "#ff7020", "#A11F62", "#EC008C", "#008D2D", "#FFC845", "#FFF200", "#899eae", "#000000",
        "#7c7c7c";

    $max: length($listButtonsName);

    @for $i from 1 through $max {
        &.#{nth($listButtonsName, $i)} {
            $cor: #{nth($listColors, $i)};
            // &.class {

            // }
        }
    }
}

// @include fonts(30, '#c7c7c7', 900, 1.1, 1, 'center','1px 1px 2px rgba(000,000,000,0.8)');

////////////////////////////////////////////////////////////////////////////////////////////////////////////////PD

.mod072 {
    font-family: "Nunito", "nunitolight", "nunito-light", "arial";
    color: #7c7c7c;
    margin: 20px 0;
    div {
        &.container {
            display: flex;
            flex-direction: column;
            width: 100%;

            div {
                &.titulo {
                    display: flex;
                    flex-direction: row;
                    color: #fff;
                    background: #ff7020;
                    padding: 10px 20px;

                    div {
                        &.titulo-esquerda {
                            flex: 1;
                            margin: auto;
                            font-size: 1.2rem;
                            word-break: break-word;
                            font-weight: 700;
                            margin-right: 10px;
                            @media screen and(max-width: 730px) {
                                font-size: 1rem;
                            }
                            @media screen and(max-width: 400px) {
                                font-size: 0.8rem;
                            }
                        }
                        &.titulo-linha {
                            background: #e6e6e6;
                            flex: 1;
                            height: 1px;
                            width: 100%;
                            margin: auto;
                            background-image: linear-gradient(left, #ff7020, white 98%);
                            background-image: -o-linear-gradient(left, #ff7020, white 98%);
                            background-image: -moz-linear-gradient(left, #ff7020, white 98%);
                            background-image: -webkit-linear-gradient(left, #ff7020, white 98%);
                            background-image: -ms-linear-gradient(left, #ff7020, white 98%);
                        }
                        &.titulo-img-aviao {
                            margin-left: 5px;
                            svg {
                                width: 35px;
                                height: 100%;
                                path {
                                    fill: #fff;
                                }
                            }
                        }
                    }
                }

                &.img {
                    position: relative;
                    picture {
                        img {
                            width: 100%;
                            height: 250px;
                        }
                        &:last-child {
                            position: absolute;
                            top: 10px;
                            right: 20px;
                            filter: drop-shadow(1px 0px #000);
                            img {
                                width: auto;
                                height: auto;
                            }
                        }
                    }
                }

                &.container {
                    display: flex;
                    flex-direction: column;
                }

                &.menu {
                    // display: flex;
                    display: grid;
                    grid-template-columns: 0.5fr 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                    flex-direction: row;
                    color: #fff;
                    background: #d35400;
                    padding: 10px 20px;
                    margin-top: -5px;
                    font-size: 0.8rem;
                    font-weight: 700;
                    align-items: center;
                    flex-wrap: wrap;
                    grid-auto-flow: column;
                    position: relative;
                    @media screen and(max-width: 1200px) {
                        grid-template-columns: 0.5fr 0.1fr 1fr 1fr 1fr;
                    }
                    @media screen and(max-width: 676px) {
                        font-size: 0.7rem;
                    }
                    @media screen and(max-width: 375px) {
                        font-size: 0.6rem;
                    }
                    div {
                        margin-right: 10px;
                        // flex: 1;

                        text-align: left;
                        word-wrap: break-word;
                        @media screen and (max-width: 1200px) {
                            margin-right: 5px;
                        }
                        &.menu-aviao {
                            flex: 0;
                            min-width: 35px;
                            margin-right: 15px;
                            @media screen and (max-width: 350px) {
                                margin-right: 0;
                            }
                            @media screen and (max-width: 320px) {
                                margin-right: 15px;
                            }
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    @media screen and (max-width: 1200px) {
                        div {
                            &:nth-child(5) {
                                margin-right: 0;
                            }
                            &:nth-child(6) {
                                display: none;
                            }
                            &:nth-child(7) {
                                display: none;
                            }
                            &:nth-child(8) {
                                display: none;
                            }
                            &:nth-child(9) {
                                display: none;
                            }
                        }
                    }
                }

                &.ofertas {
                    position: relative;
                    max-height: 450px;
                    display: flex;
                    // flex-wrap: wrap;
                    flex-direction: column;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    &::-webkit-scrollbar {
                        width: 5px;
                    }
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #ff7020;
                    }
                    @media screen and(max-width: 1200px) {
                        overflow-y: unset !important;
                        overflow-x: unset;
                        height: auto;
                    }
                    @media screen and(max-width: 1200px) {
                        border: 1px solid #c7c7c7;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }

                    div {
                        &.item {
                            flex-wrap: wrap;
                            margin: 0 20px;
                            font-size: 0.9rem;
                            margin-top: 20px;
                            align-items: center;
                            grid-template-columns: 0.5fr 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                            display: grid;
                            border-bottom: 1px solid #c7c7c7;
                            padding-bottom: 20px;
                            line-height: normal;
                            @media screen and(max-width: 1200px) {
                                grid-template-columns: 0.5fr 0.1fr 1fr 1fr 1fr;
                                border-bottom: none;
                            }
                            @media screen and(max-width: 676px) {
                                font-size: 0.6rem;
                                // margin: 0;
                                margin-top: 20px;
                            }
                            @media screen and(max-width: 350px) {
                                font-size: 0.5rem;
                            }
                            div {
                                // flex: 1;
                                margin-right: 5px;

                                &.ida,
                                &.volta {
                                    span {
                                        font-size: 0.7rem;
                                        @media screen and(max-width: 676px) {
                                            font-size: 0.6rem;
                                        }
                                        @media screen and(max-width: 350px) {
                                            font-size: 0.4rem;
                                        }
                                    }
                                }

                                &.volta {
                                    border-right: 1px solid #c7c7c7;
                                    margin-right: 45px;
                                    @media screen and(max-width: 1200px) {
                                        border: none;
                                        margin-right: 5px;
                                    }
                                }

                                &.aviao {
                                    flex: 0;
                                    min-width: 35px;
                                    margin-right: 15px;
                                    @media screen and (max-width: 1200px) {
                                        margin-right: 20px;
                                    }
                                    @media screen and (max-width: 350px) {
                                        margin-right: 0;
                                    }
                                    @media screen and (max-width: 320px) {
                                        margin-right: 15px;
                                    }

                                    picture {
                                        img {
                                            width: 80%;
                                        }
                                    }
                                }

                                &.origem,
                                &.destino {
                                    font-weight: 700;
                                }

                                &.destino {
                                    border-right: 1px solid #c7c7c7;
                                    margin-right: 25px;
                                    @media screen and(max-width: 1200px) {
                                        border: none;
                                        margin-right: 5px;
                                    }
                                }

                                &.cia {
                                    picture {
                                        img {
                                            width: 100%;
                                            display: block;
                                        }
                                    }
                                }
                                &.botao {
                                    display: flex;
                                    justify-content: center;
                                    margin-right: -5px;
                                    cursor: pointer;
                                    user-select: none;
                                    a {
                                        &.btn-class {
                                            background: #ff7020;
                                            padding: 10px;
                                            text-decoration: none;
                                            color: #fff;
                                            border-radius: 5px;
                                            opacity: 1;
                                            transition: 1s ease-in-out;
                                            &:hover {
                                                opacity: 70%;
                                                transition: 1s ease-in-out;
                                            }
                                        }
                                    }
                                }

                                &.clube {
                                    div {
                                        &.clube-container {
                                            display: flex;
                                            flex-wrap: wrap;
                                            flex-direction: column;

                                            div {
                                                &.de {
                                                    font-size: 0.8rem;
                                                }
                                                &.a-partir {
                                                    font-size: 0.8rem;
                                                }
                                                &.milhas {
                                                    display: flex;
                                                    flex-direction: row;
                                                    div {
                                                        &.valores {
                                                            font-size: 1.6rem;
                                                            font-weight: 700;
                                                            color: #663399;
                                                        }
                                                        &.texto-milhas {
                                                            font-size: 0.5rem;
                                                            line-height: normal;
                                                            span {
                                                                &.milhas-min-clube {
                                                                    color: #663399;
                                                                    font-weight: 700;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.cliente {
                                    div {
                                        &.cliente-container {
                                            display: flex;
                                            flex-wrap: wrap;
                                            flex-direction: column;

                                            div {
                                                &.de {
                                                    font-size: 0.8rem;
                                                }
                                                &.a-partir {
                                                    font-size: 0.8rem;
                                                }
                                                &.milhas {
                                                    display: flex;
                                                    flex-direction: row;
                                                    div {
                                                        &.valores {
                                                            font-size: 1.6rem;
                                                            font-weight: 700;
                                                            color: #ff7020;
                                                        }
                                                        &.texto-milhas {
                                                            font-size: 0.5rem;
                                                            line-height: normal;
                                                            span {
                                                                &.milhas-min-cliente {
                                                                    color: #ff7020;
                                                                    font-weight: 700;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            @media screen and (max-width: 1200px) {
                                display: none;
                            }

                            &.active {
                                @media screen and (max-width: 1200px) {
                                    display: grid;
                                    div {
                                        &:nth-child(6) {
                                            display: none;
                                        }
                                        &:nth-child(7) {
                                            display: none;
                                        }
                                        &:nth-child(8) {
                                            display: none;
                                        }
                                        &:nth-child(9) {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }

                        &.item-mobile {
                            // display: flex;
                            flex-direction: column;
                            margin: 10px 20px;
                            display: none;
                            font-size: 0.8rem;
                            word-break: break-word;
                            display: grid;
                            grid-template-columns: 1fr;
                            display: none;
                            @media screen and (max-width: 676px) {
                                margin: 0;
                                margin-top: 20px;
                            }
                            @media screen and (max-width: 1200px) {
                                &.active {
                                    display: grid;
                                }
                            }
                            div {
                                &.valor-clube {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    font-size: 0.6rem;
                                    div {
                                        &.clube1 {
                                            flex: 1;
                                            font-weight: 700;
                                            color: #639;
                                            font-size: 1.2rem;
                                            margin: 0 5px;
                                            min-width: max-content;

                                            @media screen and (max-width: 595px) {
                                                font-size: 0.8rem !important;
                                            }
                                            @media screen and (max-width: 409px) {
                                                font-size: 0.5rem !important;
                                            }
                                        }
                                        &.clube2 {
                                            flex: 1;
                                            display: flex;
                                            flex-direction: row;
                                            flex-wrap: wrap;
                                            font-size: 0.8rem;
                                            line-height: normal;

                                            div {
                                                &.de-a-partir {
                                                    margin-right: 5px;
                                                    @media screen and (max-width: 399px) {
                                                        font-size: 0.6rem;
                                                    }
                                                    @media screen and (max-width: 360px) {
                                                        font-size: 0.4rem;
                                                    }
                                                }

                                                &.valor {
                                                    font-weight: bold;
                                                    color: #639;
                                                    font-size: 1.5rem;
                                                    margin-right: 5px;
                                                }
                                                &.texto-milhas {
                                                    line-height: normal;
                                                    span {
                                                        &.milhas-min-clube2 {
                                                            font-weight: 700;
                                                            color: #639;
                                                        }
                                                    }
                                                    @media screen and (max-width: 1200px) {
                                                        font-size: 0.4rem;
                                                        margin-right: 1px;
                                                    }
                                                    @media screen and (max-width: 409px) {
                                                        font-size: 0.5rem !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                &.valor-geral {
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    font-size: 0.6rem;
                                    margin-top: 20px;
                                    div {
                                        &.geral1 {
                                            flex: 1;
                                            font-weight: 700;
                                            color: #ff7020;
                                            font-size: 1.2rem;
                                            margin-right: 5px;
                                            min-width: max-content;
                                            margin: 0 5px;
                                            @media screen and (max-width: 595px) {
                                                font-size: 0.8rem !important;
                                            }
                                            @media screen and (max-width: 409px) {
                                                font-size: 0.5rem !important;
                                            }
                                        }
                                        &.geral2 {
                                            flex: 1;
                                            display: flex;
                                            flex-direction: row;
                                            flex-wrap: wrap;
                                            font-size: 0.8rem;
                                            line-height: normal;

                                            div {
                                                &.de-a-partir {
                                                    margin-right: 5px;
                                                    @media screen and (max-width: 399px) {
                                                        font-size: 0.6rem;
                                                    }
                                                    @media screen and (max-width: 360px) {
                                                        font-size: 0.4rem;
                                                    }
                                                }

                                                &.valor {
                                                    font-weight: bold;
                                                    color: #ff7020;
                                                    font-size: 1.5rem;
                                                    margin-right: 5px;
                                                }
                                                &.texto-milhas {
                                                    line-height: normal;
                                                    span {
                                                        &.milhas-min-geral2 {
                                                            font-weight: 700;
                                                            color: #ff7020;
                                                        }
                                                    }
                                                    @media screen and (max-width: 1200px) {
                                                        font-size: 0.4rem;
                                                        margin-right: 1px;
                                                    }
                                                    @media screen and (max-width: 409px) {
                                                        font-size: 0.5rem !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                &.logo-botao {
                                    margin: 10px 0 10px;
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    div {
                                        &.logo {
                                            margin-left: 4px;
                                            picture {
                                                img {
                                                    max-width: 145px;
                                                }
                                            }
                                        }

                                        &.botao-mobile {
                                            display: flex;
                                            margin-left: 5px;
                                            cursor: pointer;
                                            user-select: none;
                                            @media screen and (max-width: 409px) {
                                                margin-right: 1px;
                                            }
                                            @media screen and (max-width: 450px) {
                                                justify-content: flex-end;
                                                margin-right: 15px;
                                            }
                                            a {
                                                &.btn-class-mobile {
                                                    background: #ff7020;
                                                    padding: 10px;
                                                    text-decoration: none;
                                                    border-radius: 5px;
                                                    color: #fff;
                                                    display: flex;
                                                    align-self: center;
                                                    opacity: 1;
                                                    transition: 1s ease-in-out;
                                                    &:hover {
                                                        opacity: 70%;
                                                        transition: 1s ease-in-out;
                                                    }
                                                    @media screen and (max-width: 450px) {
                                                        padding: 8px;
                                                        font-size: 0.7rem;
                                                        border-radius: 3px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    // div {
                    //     &.btn-slide {
                    //         position: absolute;
                    //         width: 100%;
                    //         display: none;
                    //         user-select: none;
                    //         bottom: -35px;
                    //         @media screen and (max-width: 1200px) {
                    //             display: flex;
                    //             justify-content: center;
                    //         }
                    //         a {
                    //             cursor: pointer;
                    //             &.avancar {
                    //                 position: absolute;
                    //                 background: #ff7020;
                    //                 padding: 7px;
                    //                 color: #fff;
                    //                 font-weight: 700;
                    //                 left: 60%;
                    //             }

                    //             &.voltar {
                    //                 position: absolute;
                    //                 background: #ff7020;
                    //                 padding: 7px;
                    //                 color: #fff;
                    //                 font-weight: 700;
                    //                 right: 60%;
                    //             }
                    //         }
                    //     }
                    // }
                }
            }
        }
        &.mod072-tj {
            font-size: 0.6rem;
            font-weight: 700;
            margin-top: 5px;
        }
        &.btn-slide {
            margin-top: 10px;
            width: 100%;
            display: none;
            user-select: none;
            bottom: -35px;
            @media screen and (max-width: 1200px) {
                display: flex;
                justify-content: center;
            }
            a {
                cursor: pointer;
                &.avancar {
                    position: absolute;
                    background: #ff7020;
                    padding: 7px;
                    color: #fff;
                    font-weight: 700;
                    left: 60%;
                }

                &.voltar {
                    position: absolute;
                    background: #ff7020;
                    padding: 7px;
                    color: #fff;
                    font-weight: 700;
                    right: 60%;
                }
            }
        }
    }
}
